@font-face {
    font-family: 'MyWebFont';
    src:  url('Sligoil-Micro.woff2') format('woff2');
  }

body {
    /* background-color: #dbdbd7; */
    margin-top: 10%;
    /* margin: 20%; */
    /* display: inline-block; */
    /* vertical-align: middle; */
}

h2 {
    text-align: center;
    font-family: 'MyWebFont', Fallback, monospace;
    display: block;
    font-weight: normal;
}

img {
   /* display: block; */
    width: 40%;
    margin-bottom: 0.5%;
    /* height: 562.5px; */
    /* display: inline-block;
    vertical-align: middle; */
    /* border-radius: 25px; */
    border-width: 1px;
    border-style: solid;
    /* display: flex; */
    /* align-items: center; */
}

/* #main_content {
    display: flex;
    align-items: center;
    
} */

a {
    font-family: 'MyWebFont', Fallback, monospace;
    text-decoration: none;
    color: black;
    /* padding: 10px 15px 10px 15px; */
}

#coordinates:hover {
    text-decoration: underline;
    color: black;
    /* background-color:#dbdbd7; */
}

.button {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    margin-top: 4px;
}

p {
    font-family: 'MyWebFont', Fallback, monospace;
    color: black;
    font-size: 12pt;
    /* padding: 10px 15px 10px 15px; */
    margin: 14px;
}

a:hover {
    background-color: #ff6319;
}

.buttons {
    display: flex;
    justify-content: space-between;
   
    
}

.disabled_button {
    background-color: #dbdbd7;
    color: gray;
    border-color: gray;

}

.disabled_button:hover {
    color: gray;
    background-color:#dbdbd7;
}


#left_button {
    
    margin-left: 30%;
}

#right_button {
    margin-right: 30%;
}